@keyframes example {
    0%   {background-image: url('./assets/Images/drHBG.jpg');}
    50%  {background-image: url('./assets/Images/msg.jpg');}
    100%  {background-image: url('./assets/Images/dhwaj.jpg');}

  }
  
  /* The element to apply the animation to */
  body {
    background-repeat: no-repeat;
    background-size:50%;
   background-color: orange;
    // animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
