<h3>Some instruction about sangh siksha varg</h3>
<form>
   <label for="">Select SSV </label>
   <select name="" id="" (change)="selectedVarg(selectV)" name="selectV" ngModel>
    <option value="">Select Varg </option>
    <option value="p2023chandrala">Pratham Varsh 2023 - Chandrala</option>
    <option value="p2023surat">Pratham Varsh 2023 - Surat</option>
    <option value="p2023junagadh">Pratham Varsh 2023 - Junagadh</option>
    <option value="d2023vadodara">Dwitiya Varsh 2023 - Vadodara</option>
   </select>
</form>
